body {
    font-family: 'Arial', sans-serif;
    background-color: #d5d5da;
    margin: 0;
    padding: 20px;
}

.reservation-container {
    background-color: #eee3e3;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #444;
    text-align: center;
}

fieldset {
    border: 2px solid #ddd;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="checkbox"] {
    margin-left: 20px;
}

.menu-item {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #5C9210;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #4A7C0F;
}
